/*
Cathode Church colour scheme
*/

$bright-pink: #f75ae2
$steel-pink: #d22abc
$russian-violet: #42144f;
$lilac: #bf9bc8;
$lavender: #e8d9e5;

// Dependent colors
$black: #000000;

$classic-base-color: $russian-violet;
$classic-primary-color: $lilac;
$classic-secondary-color: $lavender;
$classic-highlight-color: $steel-pink;
